<h3>Comments</h3>
<div class="post_<%= post.id %>">
  <% comments.each do |comment| %>
    <div id="comment_<%= comment.id %>">
      <p class="m-0"><span><%= comment.body %></span> <i class="fa fa-reply pl-5 comment-reply" id="<%= comment.id %>" aria-hidden="true"></i></p>
      <em><%= comment.post.user.email %> - <%= comment.created_at.to_formatted_s(:short) %></em>
      <hr>
    </div>
  <% end %>
</div>